/* ESTILO GERAL */
*{
    font-family: "Nunito", sans-serif;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* background: #CAADE6; */

}

/* =========================================================== */
.classe_cabecalho{
    background-color: #610588;
    justify-content: space-between;
    height: 60px;
    width: 100%;
}

.logo_1 {
    position: absolute;
    left: 1vw;
    height: 56px;
    margin: auto;
    cursor: pointer;
}

.bloco_lista{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.lista{
    display: inline-flex;
    padding: 15px 50px 0px 0px;
}

ul {
    list-style-type: none;
  }

nav ul li a {
    color: #F2F2F2;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.28px;
    text-decoration:none;
    transition: 1s all ease;
}

.lista a:hover{
    color: #ca88c7;
}

/* =========================================================== */
.classe_adaptelas{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    
    align-items: center;
    background-color: #CAADE6;
    color:#610588;
    padding: 75px 114px 75px 114px;
}

.textoAdaptelas{
    text-align: justify;
    font-size: 26px;
    font-weight: 700;
    line-height: 35.46px;
    padding: 15px auto;
}

.adaptelas h1{
    display: column;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height: 75px;
    padding: auto;
}

.blocoDireita{
    display: column;
    align-items: center;
    flex-wrap: wrap;
}

  .imagens{
    /*width: 100%;*/
    width: 32%;
    height: auto;
    object-fit: cover;
    margin: 10px auto;    
}

/* =========================================================== */
.classe_sobreAdaptelas{
    background-color: #610588;
    color:#F2F2F2;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 60px 114px 60px 114px;
}

.blocoEsquerda{
    display: column;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.sobreAdaptelas h2{
    display: column;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    line-height: 38.19px;
    padding: auto;
}

.textoSobreAdaptelas{
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.28px;
    padding: 10px auto;
}

/* ESTILO DO RODAPÉ */
/* =========================================================== */
.rodape{
    background-color: #BBAACC;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    padding: 15px 0px 15px 0px;
}

.rodape span{
    color: #610588;
}

.rodape p{
    color: #F2F2F2;
}

/* =========================================================== */
@media screen and (max-width: 1024px){
    .imagens{
        width: 48%;
    }
}

@media screen and (max-width: 778px){
    .imagens{
        width: 98%;
    }

    .classe_cabecalho{
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .logo_1{
        position: inherit;
    }

    .bloco_lista{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .lista{
        margin: auto;
    }

    .imagens{
        border: 2px solid  #c278ff;
    }

    .classe_adaptelas{
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .classe_sobreAdaptelas{
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        height: max-content;
    }
}