/* ESTILO GERAL */
*{
    font-family: "Nunito", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar{
    height: 60px;
    background: #610588;
    border-bottom: 1.5px solid gray;
}

.logo {
    position: absolute;
    left: 1vw;
    height: 60px;
    margin: auto;
    cursor: pointer;
}

.navlinks{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.links{
    font-size: 18px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin: auto 10px;

}

.links a{
color: #F2F2F2;
text-decoration: none;
transition: 1s all ease;
}

.links a:hover{
    color: #ffa9fb;
}

/* =========================================================== 
.classe_cabecalho{
    background-color: #610588;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 0px 0px 114px;
}

.logo_1 {
    padding: auto;

    width: 62%;
    height: auto;
    object-fit: cover;
    margin: 10px auto;
  }

.bloco_lista{
    display: flex;
    justify-content: space-evenly;
}

.lista{
    display: inline-flex;
    padding: 15px 50px 0px 0px;
}

ul {
    list-style-type: none;
  }

nav ul li a {
    color: #F2F2F2;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.28px;
    text-decoration:none;
    transition: 1s all ease;
}

nav ul li a:hover{
    color: #ffa9fb;
}

/* =========================================================== */
.classe_adaptelas{
    background-color: #CAADE6;
    color:#610588;
    display: inline-flex;
    align-items: center;
    padding: 75px 114px 75px 114px;
}

.textoAdaptelas{
    text-align: justify;
    font-size: 26px;
    font-weight: 700;
    line-height: 35.46px;
    padding: 15px 270px 0px 0px;
}

.adaptelas h1{
    display: column;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height: 75px;
    padding: 0px 300px 0px 0px;
}

.blocoDireita{
    display: column;
    align-items: center;
}

.imagem_body {
    width: 72%;
    height: auto;
    object-fit: cover;
    margin: 10px auto;
  }

/* =========================================================== */
.classe_sobreAdaptelas{
    background-color: #610588;
    color:#F2F2F2;
    display: inline-flex;
    align-items: center;
    padding: 60px 114px 60px 114px;
}

.blocoEsquerda{
    display: column;
    align-items: center;
}

.logo_2 {
    width: 72%;
    height: auto;
    object-fit: cover;
    margin: 10px auto;
  }

.sobreAdaptelas h2{
    display: column;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    line-height: 38.19px;
    padding: 0px 0px 0px 344px;
}

.textoSobreAdaptelas{
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.28px;
    padding: 10px 0px 0px 367px;
}

/* ESTILO DO RODAPÉ */
/* =========================================================== */
.rodape{
    background-color: #BBAACC;
    text-align: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    padding: 15px 0px 15px 0px;
}

.rodape span{
    color: #610588;
}

.rodape p{
    color: #F2F2F2;
}

/* =========================================================== */
@media screen and (max-width: 1024px){
    .logo_2{
        width: 48%;
    }

    .imagem_body{
        width: 48%;
    }
}

@media screen and (max-width: 728px){
    .imagem_body{
        width: 98%;
    }

    .logo_2{
        width: 98%;
    }

    /*.classe_cabecalho{
        display: flex;
        flex-direction: column;
        height: max-content;
        justify-content: center;
    }

    .logo_1{
        position: inherit;
    }

    .navlinks{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navlogo{
        margin: auto;
    }*/

    .navbar{
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .logo{
        position: inherit;
    }

    .navlinks{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navlogo{
        margin: auto;
    }
}